.accounts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__content {
    &__title.cssText {
      font-weight: 500;
    }
  }

  &-row {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  &__img {
    margin-right: 15px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 13px;

    &__group {
      display: flex;
      align-items: center;

      &__info {
        &__name {
          margin-bottom: 11px;
        }
        &__review {
          max-width: 200px;
          width: 90%;
        }
      }

      .cssAvatar {
        width: 90px;
        height: 90px;
        border-radius: 100rem;
        overflow: hidden;
        margin-right: 20px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &__star {
      .cssNumberStar {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $secondary-color-title;
        text-align: center;
      }

      &__numberStar {
        text-align: center;
      }
      &__imgStar {
        img {
          margin-right: 4px;
        }
      }
    }
  }

  .textAccounts {
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    color: $secondary-color-title;
  }
}

.review-row {
  overflow-y: scroll;
  max-height: 280px;
}

.accounts-row {
  .revenueBarChart-setHeight,
  .expenseDoughnutChart-setHeight {
    height: 377px;
  }
  .visitorsLineChart-setHeight {
    height: 277px;
  }
}

@media screen and (max-width: 1143px) {
  .accounts {
    &__review {
      padding: 20px 10px;

      &__group {
        .cssAvatar {
          width: 65px;
          height: auto;
          margin-right: 10px;
        }
        &__info {
          .cssText {
            font-size: 11px;
            line-height: 13px;
          }
          &__name {
            margin-bottom: 6px;
          }
        }
      }
      &__star {
        .cssNumberStar {
          font-size: 16px;
          line-height: 19px;
        }
        &__imgStar {
          width: max-content;

          img {
            width: 14px;
            margin-right: 2px;
          }
        }
      }
    }
  }
  .accounts-row {
    .revenueBarChart-setHeight,
    .expenseDoughnutChart-setHeight {
      height: 303px;
    }
    .visitorsLineChart-setHeight {
      height: 230px;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .accounts__review__star {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .accounts-col {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #expenseDoughnutChart {
    width: 100%;
    height: auto;
  }
  .accounts-row {
    margin: 0;
  }
  .accounts-col {
    margin-bottom: 20px;
  }
}
