.dashboard__main__content {
  &__column {
    margin: 15px 0;
  }

  &__box {
    &__item {
      height: 100%;

      &__avatar {
        width: 40%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__info {
        width: 60%;
        padding: 20px 25px 25px 20px;

        &__rating {
          img {
            margin-right: 4px;
          }
        }

        &__department {
          margin-top: 13px;
          margin-bottom: 5px;
        }

        &__workTime {
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $text-color;
            margin-left: 10px;
          }
        }

        &__biography {
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          color: $text-color;
          margin: 18px 0 22px;
        }

        &__button {
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $secondary-color-button;
          border-radius: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1143px) {
  .dashboard__main__content {
    &__box {
      &__item {
        &__avatar {
          img {
            height: 50%;
          }
        }
        .cssText {
          font-size: 13px;
          line-height: 16px;
          font-weight: 400;
        }
        &__info {
          &__rating {
            img {
              width: 12px;
            }
          }
          &__workTime {
            span {
              font-size: 12px;
              line-height: 15px;
            }
          }
          &__biography {
            font-size: 12px;
            line-height: 22px;
          }
          &__button {
            font-size: 14px;
            line-height: 17px;
            height: 40px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .dashboard__main__content__box__item {
    &__info__workTime {
      span {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__avatar {
      img {
        height: 100%;
      }
    }
  }

  .dashboard__main__content {
    padding: 30px 0;
  }

  .box2 {
    &__button {
      width: 262px;
    }
    &__img {
      img {
        max-width: 200px;
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .dashboard__main__content__box__item {
    &__info__button {
      height: 35px;
    }
  }
}
