.dashboard__main__content {
  width: calc(100% - 240px);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border: 0.5px solid #e0e7fe;
  border-radius: 30px;
  padding: 30px 15px;

  &-padding {
    padding: 0 15px;
  }
  &__slider {
    &__card {
      display: flex;
      align-items: center;
      padding: 25px 0 25px 25px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      );
      border: 0.5px solid #e0e7fe;
      border-radius: 30px;

      &-img {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }

      &-desc {
        h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }

        span {
          font-weight: 800;
          font-size: 26px;
          line-height: 31px;
          color: #292968;
        }
      }
    }
  }

  &__history {
    &__card {
      &__chart,
      &__rank,
      &__content {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.9) 0%,
          rgba(255, 255, 255, 0.9) 100%
        );
        border: 0.5px solid #e0e7fe;
        border-radius: 30px;
      }

      &__chart {
        .myLineChart-setHeight,
        .myDoughnutChart-setHeight {
          height: 325px;
          padding: 30px;
        }
        .myBarChart-setHeight {
          height: 344px;
          padding: 30px;
        }
        .myNewLineChart-setHeight {
          height: 320px;
          padding: 30px;
        }
      }

      &__rank {
        padding: 40px 25px;
        overflow-y: scroll;
        max-height: 400px;

        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-flex {
            display: flex;
          }

          &__name {
            div.cssText {
              color: $primary-color-title;
              font-weight: 500;
              font-size: 17px;
              line-height: 21px;
            }
            span.cssText {
              font-size: 16px;
              line-height: 21px;
            }
          }

          &__avatar {
            width: 48px;
            height: 48px;
            border-radius: 100rem;
            overflow: hidden;
            margin-right: 23px;
          }

          &__rating {
            &-star {
              img {
                margin-right: 4px;
              }
            }
            &-review {
              text-align: right;
              span {
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                color: #9898a3;
              }
            }
          }
        }
      }

      &__content {
        padding: 25px;

        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__name {
            div.cssText {
              color: $primary-color-title;
            }
          }

          &-flex {
            display: flex;
            align-items: center;
          }

          &__avatar {
            width: 50px;
            height: 50px;
            border-radius: 100rem;
            overflow: hidden;
            margin-right: 15px;
          }
        }
      }

      hr {
        margin: 29px 0;
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #f1f1f1, #f1f1f1);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #159fed, #f85a47);
    border-radius: 100rem;
  }
}
