.dashboard__main__content {
  &__docprofile {
    &__header {
      position: relative;

      &__bg {
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__group {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: end;
        transform: translateY(50%);
        width: 100%;

        &-child {
          display: flex;
          align-items: end;
        }
      }

      &__avatar {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100rem;
        margin-right: 36px;
        box-shadow: 8px 38px 13px -4px rgb(193 207 217 / 50%);

        img {
          width: 100%;
        }
      }

      &__info {
        &__workTime {
          span {
            margin-left: 10px;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $text-color;
          }
        }

        .cssText {
          margin: 8px 0 5px;
        }
      }

      &__rating {
        img {
          margin-right: 4.3px;
        }

        &__review {
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          margin-top: 6px;
        }
      }
    }
  }

  &__list {
    &--mt {
      margin-top: 150px;
      padding: 0 30px;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $text-color;
    cursor: pointer;
    padding-bottom: 10px;

    &:hover,
    &.active {
      color: $primary-color-title;
    }
  }

  &__text {
    padding: 0 30px;
  }

  &__workTime {
    margin-top: 30px;

    &__title {
      margin-bottom: 19px;
    }
  }

  &__slider {
    &__card {
      padding: 20px;
      display: flex !important;
      align-items: center;
      margin: 30px 15px;

      &__avatar {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 100rem;
        margin-right: 20px;

        img {
          width: 100%;
        }
      }

      &__info {
        max-width: 280px;

        .cssTextDownLoad {
          text-align: left;
        }

        &__text {
          margin-top: 13px;
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  &:before {
    color: $secondary-color-button !important;
    font-size: 25px !important;
  }
}

.slick-dots li {
  margin: 0 20px !important;

  button:before {
    color: $secondary-color-button !important;
    font-size: 13px !important;
  }
}

.week .day.header {
  font-size: 17px !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 21px;
  color: $primary-color-title !important;
}

.day span {
  font-weight: 500;
  font-size: 16px;
}

.week .day.selected span {
  background: $secondary-color-button !important;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.day.today span::after {
  border-bottom: none !important;
}

.today-button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.buttons-container .label-container {
  .month-label,
  .year-label {
    font-weight: 500 !important;
    font-size: 17px;
    line-height: 21px;
    color: $primary-color-title;
  }
}

.prev-button,
.next-button {
  color: $primary-color-title;
  font-weight: 500;
  font-size: 19px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .dashboard__main__content__docprofile {
    margin-bottom: 20px;
    &__header {
      &__bg {
        height: 150px;
      }
      &__avatar {
        width: 150px;
        height: 150px;
        margin-right: 0;
      }
      &__info {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        &__name {
          text-align: center;
        }
        &__workTime {
          display: none;
        }
      }
      &__rating {
        display: none;
      }
    }
  }

  .dashboard__main__content__list--mt {
    margin-top: 200px;
    padding: 0 10px;
  }

  .dashboard__main__content__workTime {
    &__title,
    &__clock {
      text-align: center;
    }
  }
  .dashboard__main__content__slider__card {
    &__avatar {
      width: 45px;
      height: 45px;
    }

    &__info {
      width: 70%;
    }
  }
}
