.dashboard {
  background: linear-gradient(
    180deg,
    $secondary-background-color 0%,
    $primary-background-color 100%
  );
  min-height: 100vh;
  padding: 0 35px 30px 35px !important;

  &__nav {
    padding: 25px 0;

    &-right {
      display: flex;
    }

    &__title {
      display: none;
    }

    &__search,
    &__add,
    &__notification {
      display: inline-block;
    }

    &__logo {
      padding-right: 80px;
    }

    &__search {
      position: relative;

      &-tablet {
        display: none;
      }

      i {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        width: 17.23px;
        height: 17.23px;
        color: #70708c;
        cursor: pointer;
      }

      input {
        width: 325px;
        height: 50px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.6) 0%,
          rgba(255, 255, 255, 0.6) 100%
        );
        border: 0.5px solid #e0e7fe;
        border-radius: 30px;
        padding: 16px 0 16px 56px;

        &::placeholder {
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #70708c;
        }
      }
    }

    &__add {
      width: 150px;
      height: 50px;
      background: #605bff;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      cursor: pointer;
    }

    &__notification {
      padding: 0 36px;
      margin: auto;
      color: #a5aab6;
      cursor: pointer;

      i {
        font-size: 20.83px;
        height: 18.75px;
        position: relative;
      }

      &-red {
        width: 10.42px;
        height: 10.42px;
        background-color: #f51e1e;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        right: 1px;
      }
    }

    &__avatar {
      &-circle {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  // .navbar-expand-lg .navbar-collapse#navbarTogglerDashboard {
  //   display: none !important;
  // }
  .collapse {
    display: none !important;
  }

  nav.navbar {
    button {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .dashboard {
    padding: 0 !important;

    &__nav {
      position: fixed;
      top: 0;
      background: linear-gradient(180deg, #f0f2fd 100%, #fff8f9 0%);
      width: 100%;
      z-index: 3;

      button {
        &:focus {
          outline: none;
        }
      }

      &__search {
        &-tablet {
          display: block;
          width: 100%;

          i {
            left: calc(25% + 25px);
          }

          input {
            width: 50%;
            margin: 0 auto;
          }
        }
      }

      &__title {
        display: block;
      }
    }
  }

  .dashboard__nav-left,
  .dashboard__nav__notification,
  .dashboard__nav__add {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .dashboard__nav {
    &__avatar-circle {
      width: 35px;
      height: 35px;
    }

    .navbar-toggler {
      padding: 0.2rem 0.5rem !important;
    }

    &__search-tablet {
      margin-top: 20px;

      i {
        left: calc(0% + 25px);
      }
      input {
        width: 100%;
      }
    }
  }
}
