.container {
  .row-profile {
    padding: 0 15px;

    .dashboard__main__content__profile {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      );
      border: 0.5px solid #e0e7fe;
      border-radius: 20px;
      padding: 32px 25px 15px;

      &__header {
        display: flex;
        align-items: center;

        &-avatar {
          width: 90px;
          height: 90px;
          border-radius: 100rem;
          overflow: hidden;
          margin: 0 20px 20px 0;

          img {
            width: 100%;
          }
        }

        &-name {
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #292968;
          }

          &-id {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            color: #70708c;
          }
        }
      }

      &__body {
        &__item {
          padding: 7px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .dashboard__main__content__list {
        justify-content: space-between;

        .dashboard__main__content__item {
          margin-right: 0;
        }
      }
    }
  }

  .dashboard__main__content__other {
    .mySystolicChart-setHeight,
    .myDiastolicChart-setHeight {
      height: 140px;
    }
    .myHeartRateChart-setHeight {
      height: 260px;
    }

    &__heartRate__chart,
    &__bloodPressure__chartItem {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      );
      border: 0.5px solid #e0e7fe;
      border-radius: 20px;
    }

    &__heartRate__chart,
    &__bloodPressure__chartList {
      margin-bottom: 20px;
    }
    &__bloodReport__table {
      &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &:first-child {
          .dashboard__main__content__other__bloodReport__table__group__title {
            border-top-left-radius: 20px;
          }
        }
        &:last-child {
          .dashboard__main__content__other__bloodReport__table__group__title {
            border-bottom-left-radius: 20px;
          }
        }

        &:first-child {
          .dashboard__main__content__other__bloodReport__table__group__text {
            border-top-right-radius: 20px;
          }
        }
        &:last-child {
          .dashboard__main__content__other__bloodReport__table__group__text {
            border-bottom-right-radius: 20px;
          }
        }

        &__title {
          width: 65%;
          padding: 13px 25px;
          border: 1px solid #e0e7fe;
          border-right: 0.5px solid #e0e7fe;
        }
        &__text {
          width: 35%;
          text-align: center;
          padding: 13px 25px;
          border: 1px solid #e0e7fe;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1143px) {
  .dashboard__main__content {
    &__list {
      .li-item {
        font-size: 12px;
        line-height: 15px;
      }
    }

    span.key,
    span.value {
      font-size: 12px;
      line-height: 15px;
    }

    &__other__bloodReport__table__group {
      font-size: 12px;
      line-height: 15px;

      &__title {
        padding: 13px 15px !important;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    .row-profile {
      .dashboard__main__content__profile {
        margin-bottom: 20px;
      }
    }
    .dashboard__main__content__other__bloodPressure__chartList {
      .col-lg-6 {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .dashboard__main__content__other__bloodReport__table__group__title {
      padding: 13px 15px;
    }
    .row-profile .dashboard__main__content__profile {
      padding: 0;
      margin-bottom: 40px;
      border: none;
      background: none;
      border-radius: inherit;
    }
    .dashboard__main__content__other__bloodPressure__chartList {
      .col-lg-6 {
        :first-child {
          margin-bottom: 25px;
        }
      }
    }
    .dashboard__main__content__profile__body__item {
      .key {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
      }
      .value {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
