#example,
#expenseListTable {
  border-spacing: 0 7px;
  border-collapse: separate;

  th {
    border: none;
    color: $primary-color-title;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  tbody {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    );
    border-radius: 10px;
    tr {
      cursor: pointer;

      td {
        border-top: 0.5px solid #e0e7fe;
        border-bottom: 0.5px solid #e0e7fe;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: none;
        border-left: none;
        font-size: 12px;

        &:first-child {
          border-radius: 10px 0 0 10px;
          border-left: 0.5px solid #e0e7fe;
        }

        &:last-child {
          border-radius: 0 10px 10px 0;
          border-right: 0.5px solid #e0e7fe;
        }
      }
    }
  }
}

table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_asc:after {
  display: none !important;
}

@media screen and (max-width: 1144px) {
  #example,
  #expenseListTable {
    th {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      width: max-content !important;
      padding-right: 0;
    }
  }

  #example_length label,
  #example_filter label,
  #example_info,
  ul.pagination {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1144px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #example,
  #expenseListTable {
    thead,
    tbody {
      th,
      td {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
          display: none;
        }
      }

      td {
        &:nth-child(3) {
          border-radius: 10px 0 0 10px;
          border-left: 0.5px solid #e0e7fe;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #example,
  #expenseListTable {
    width: 100% !important;
    thead {
      th {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #3d3d66;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
          display: none;
        }
      }
    }
    tbody {
      td {
        line-height: 15px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
          display: none;
        }
      }
      td {
        &:nth-child(3) {
          border-radius: 10px 0 0 10px;
          border-left: 0.5px solid #e0e7fe;
        }
      }
    }
  }
}
