#example,
#expenseListTable {
  border-spacing: 0 7px;
  border-collapse: separate;

  th {
    border: none;
    text-align: center;
  }
  tbody {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    );
    border-radius: 10px;
    tr {
      cursor: pointer;

      td {
        border-top: 0.5px solid #e0e7fe;
        border-bottom: 0.5px solid #e0e7fe;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: none;
        border-left: none;
        text-align: center;
        font-size: 12px;

        &:first-child {
          border-radius: 10px 0 0 10px;
          border-left: 0.5px solid #e0e7fe;
        }

        &:last-child {
          border-radius: 0 10px 10px 0;
          border-right: 0.5px solid #e0e7fe;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #example,
  #expenseListTable {
    width: 100% !important;
    thead {
      th {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #3d3d66;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
          display: none;
        }
      }
    }
    tbody {
      td {
        line-height: 15px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
          display: none;
        }
      }
    }
  }
}
