.dashboard__main {
  display: flex;

  &__sidebar {
    width: 240px;
    padding-right: 35px;

    &__list {
      &-child {
        margin-left: 18px;
        display: none;
      }
    }

    &__item {
      margin-top: 45px;
      cursor: pointer;

      &-event {
        svg.active {
          color: #605bff !important;
        }
        a.link {
          color: #70708c;
          text-decoration: none;
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;

          &.active,
          &:hover {
            color: #605bff !important;
          }
        }
      }

      &:first-child {
        margin-top: 72px;
      }

      &-child {
        cursor: pointer;
        padding: 15px 0 15px;

        a {
          color: #70708c;
          text-decoration: none;
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;

          &:hover {
            text-decoration: none;
          }

          &.active {
            color: #605bff;
          }
        }
      }

      a {
        padding-bottom: 15px;
        padding-left: 16px;
      }

      i.active {
        color: #605bff;
      }
    }
  }
}

.dashboard__nav {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #f1f1f1, #f1f1f1);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #159fed, #f85a47);
    border-radius: 100rem;
  }
}

@media screen and (min-width: 991px) and (max-width: 1144px) {
  .dashboard__main {
    &__sidebar {
      width: 220px;
    }
  }
}

@media screen and (max-width: 991px) {
  .dashboard__main {
    &__sidebar {
      display: none;
    }
  }

  .dashboard__main__sidebar__item {
    margin-top: 15px;

    &:first-child {
      margin-top: 35px;
    }
  }

  #navbarTogglerDashboard {
    overflow-y: scroll;
    max-height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #navbarTogglerDashboard {
    margin-right: 500px;
    padding-right: 30px;
  }
}
