@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

$primary-color-button: #605bff;
$secondary-color-button: #ff8f6b;
$text-color: #70708c;
$primary-color-title: #3d3d66;
$secondary-color-title: #292968;
$primary-background-color: #fff8f9;
$secondary-background-color: #f0f2fd;
$font-inter: "Inter", sans-serif;
