extends index.pug
block title 
    title Add New Doctor
block content 
    include ../blocks/addNewDoctor.pug
block scriptjs
    script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
    script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js")
    script(src="./js/addNewDoctor.js") 