extends index.pug
block title 
    title Add New Doctor
block content 
    include ../blocks/addNewDoctor.pug
block scriptjs
    script(async src="https://imgbb.com/upload.js")
    script(src="./js/addNewDoctor.js") 