extends index.pug
block title 
    title Expense List
block link 
    //- datables
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css")
block content 
    include ../blocks/expenseList.pug
block scriptjs
    //- datables
    script(src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js")
    //- js
    script(src="./js/expenseList.js") 