.container 
    .dashboard__main__content__title.primary-title Accounts
    .dashboard__main__content__slider
        +card("./images/profit.svg", "Profit in this Week", "$25,600")
        +card("./images/expense.svg", "Expense in this Week", "$25,600")
        +card("./images/income.svg", "Income in this Week", "$25,600")
        +card("./images/expense.svg", "Expense in this Week", "$25,600")

    .row.accounts-row 
        .col-lg-8.accounts-col 
            .dashboard__main__content__title-child.primary-title Revenue
            .revenueBarChart-setHeight
                canvas(id="revenueBarChart" class="bg-card" style="height: 100%")
        .col-lg-4.accounts-col 
            .dashboard__main__content__title-child.primary-title Expense Statistics
            .expenseDoughnutChart-setHeight
                canvas(id="expenseDoughnutChart" class="bg-card" style="height: 100%")
    
    .row.accounts-row 
        .col-lg-6.accounts-col 
            .dashboard__main__content__title-child.primary-title Visitors
            .visitorsLineChart-setHeight
                canvas(id="visitorsLineChart" class="bg-card" style="height: 100%")
        .col-lg-6.accounts-col 
            .dashboard__main__content__title-child.primary-title Recent Review
            - var dataInfoReview = [{avatar: "./images/avatar.svg", name: "Benjamin", review: "“Excellent visit. This was for a second opinion and an attempt.”", star: 4},{avatar: "./images/avatar.svg", name: "Benjamin", review: "“Excellent visit. This was for a second opinion and an attempt.”", star: 5}]
                each value in dataInfoReview
                    .accounts__review.bg-card
                        .accounts__review__group 
                            .accounts__review__group__avatar.cssAvatar
                                img(src= value.avatar, alt="avatar")
                            .accounts__review__group__info
                                .accounts__review__group__info__name.cssTitleChild= value.name
                                .accounts__review__group__info__review.cssText= value.review
                        .accounts__review__star
                            .accounts__review__star__numberStar.cssNumberStar= value.star
                            .accounts__review__star__imgStar
                                case value.star 
                                    when 1
                                        img(src="./images/star.svg", alt="star")
                                    when 2
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                    when 3
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                    when 4
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                    default 
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        img(src="./images/star.svg", alt="star")
                                        
                
