.container 
    .dashboard__main__content__title.primary-title Add Expense
    form.addExpense-form
        .row.addExpense-row
            .col-md-6.col-lg-6.addExpense-col 
                +signupForm("Expense Head", "text", "expenseHead", "Repair Equipment")
            .col-md-6.col-lg-6.addExpense-col
                +selectForm("Select Category","selectCategory", ["Utilities Bill", "Tax Payment", "Salary Payment", "Others"])
        
            .col-md-6.col-lg-6.addExpense-col 
                +signupForm("Amount", "text", "amount", "$5,600")
            .col-md-6.col-lg-6.addExpense-col
                +selectForm("Date","date", ["31 January, 2021", "11 January, 2021"])
        
            .col-md-12.col-lg-12.addExpense-col
                .form-group
                    label(for="description" class="cssLabel") Description
                    textarea(name="description" id="description" rows="4")
        
            .col-md-6.col-lg-6.addExpense-col 
                +signupForm("Check Number", "text", "checkNumber", "**** **** **** 5648")
            .col-md-6.col-lg-6.addExpense-col
                +selectForm("Bank Account","bankAccount", ["SHB", "TECHCOMBANK", "VIB", "SACOMBANK"])
        div(class="serviceInformation__card__button cssButton addExpense-submit") Submit
