.container 
    .dashboard__main__content__title.primary-title Add New Doctor
    form(action="", id="doctor-form" class="dashboard__main__content__information")
        .row.dashboard__main__content__information__picture
            .col-md-5.col-lg-4.profilePicture
                .form-group
                    label.cssLabel(for="profilePicture") Profile Picture
                    .box1.block
                        .box1__img
                            img(src="./images/download.svg", alt="download")
                        .box1__button.buttonDownload
                            input(id="doctorAvatar" name="doctorAvatar" type="file")
                            | Drop Your Image Here
                        .box1__text 
                            span.cssTextDownLoad Maximum Image Size 2MB
            .col-md-7.col-lg-8.coverPicture
                .form-group
                    label.cssLabel(for="coverPicture") Cover Picture
                    .box2.block
                        .box2__img
                            img(src="./images/download.svg", alt="download")
                        .box2__button.buttonDownload
                            input.buttonDownload(id="doctorBackground" name="octorBackground" type="file")
                            | Drop Your Image Here
                        .box2__text 
                            span.cssTextDownLoad Maximum Image Size 2MB
                    .box2__input 
                        input(type="file" hidden id="coverPicture")
        .row.dashboard__main__content__information__group
            .col-md-6.col-lg-4
                +signupForm("Doctor Name", "text", "doctorName", "Dr. Sara Graham")
            .col-md-6.col-lg-4
                +signupForm("Phone Number", "tel", "phoneNumber", "1234 5874 25")
            .col-md-6.col-lg-4
                +signupForm("Address", "text", "address", "San Joss, California, USA")
        
            .col-md-6.col-lg-4
                +signupForm("Age", "number", "age", 59)
            .col-md-6.col-lg-4
                +selectForm("Gender","gender", ['Male', 'Female'])
            .col-md-6.col-lg-4
                +selectForm("Select Department","department", ['Medicine Specialist', 'Sale', 'IT'])
        
            .col-md-6.col-lg-4
                +signupForm("Email Address", "email", "emailAddress", "saragraham101@gmail.com")
            .col-md-6.col-lg-4
                +signupForm("Date of Birth", "date", "doB")
            .col-md-6.col-lg-4
                +selectForm("Skills","skills", ["Lorem ipsum amet sit dolor", "Lorem ipsum amet sit dolor"])
        
            .col-lg-12.form-group 
                label(for="biography" class="cssLabel") Biography
                textarea(name="biography", rows="4", placeholder="Write a short Biography")
        button.serviceInformation__card__button.cssButton.addNewDoctor-add(type="submit") Add Doctor