.container 
    .dashboard__main__content__title.primary-title Expense List
        
    table(id="expenseListTable" class="table")
        thead 
            tr
                th 
                    input(type="checkbox", name="checkbox")
                th Expense Head
                th Category
                th Amount
                th Date
                th Bank
                th Check No
                th Action
                
        tbody

            