.dashboard__nav
  button.navbar-toggler.d-none(type='button', data-bs-toggle='collapse', data-bs-target='#navbarTogglerDashboard', aria-controls='navbarTogglerDashboard', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .dashboard__nav-left
    a.navbar-brand.dashboard__nav__logo(href='#')
      img(src="./images/Logo.svg", alt="Logo")
      //- #navbarTogglerDashboard.collapse.navbar-collapse
    form.dashboard__nav__search
      i.fa.fa-search
      input.form-control.me-2(type='search', placeholder='Search patients', aria-label='Search')
  .dashboard__nav-right
    .dashboard__nav__add + Add Patient
    .dashboard__nav__notification
      i(class="fa fa-bell dashboard__nav__notification-bell" aria-hidden="true")
        .dashboard__nav__notification-red
    .dashboard__nav__avatar 
      .dashboard__nav__avatar-circle 
        img(src="./images/avatar.svg", alt="avatar")