.container 
    .dashboard__main__content__title.primary-title Patient List
        
    table(id="example" class="table")
        thead 
            tr
                th 
                    input(type="checkbox", name="checkbox")
                th Patient ID
                th Patient Name
                th Date Check In
                th Doctor Assgined
                th Disease
                th Status
                th Room No

        tbody
            