.container 
    .row.row-profile
        .col-md-7.col-lg-7
            .dashboard__main__content__title.primary-title Patient Profile

            .dashboard__main__content__profile
                .dashboard__main__content__profile__header 
                    .dashboard__main__content__profile__header-avatar
                        img(src="")
                    .dashboard__main__content__profile__header-name
                        h3
                        .dashboard__main__content__profile__header-name-id
                            span.patientId 
                            span.disease

                ul.dashboard__main__content__list
                    li.dashboard__main__content__item.li-item.active Patient Information
                    li.dashboard__main__content__item.li-item Visits
                    li.dashboard__main__content__item.li-item Lab
                    li.dashboard__main__content__item.li-item Prescriptions
                .dashboard__main__content__profile__body 
                    - var dataPatientProfile = ["Date of Birth", "Age", "Gender", "Religion", "Occupation", "Marital Status", "Address", "Phone Number", "Guardian Name", "Relationship", "Guardian Phone Number"]
                    each value in dataPatientProfile
                        +patientProfile(value)
                        
        .col-md-5.col-lg-5.dashboard__main__content__other 
            .row 
                .col-lg-12.dashboard__main__content__other__heartRate
                    .dashboard__main__content__other__heartRate__title.primary-title Heart rate
                    .dashboard__main__content__other__heartRate__chart
                        .myHeartRateChart-setHeight
                            canvas(id="myHeartRateChart" style="height: 100%")
                .col-lg-12.dashboard__main__content__other__bloodPressure
                    .dashboard__main__content__other__bloodPressure__title.primary-title Blood Pressure
                    .row.dashboard__main__content__other__bloodPressure__chartList
                        .col-md-6.col-lg-6
                            .mySystolicChart-setHeight.dashboard__main__content__other__bloodPressure__chartItem
                                canvas(id="mySystolicChart" style="height: 100%")
                        .col-md-6.col-lg-6
                            .myDiastolicChart-setHeight.dashboard__main__content__other__bloodPressure__chartItem
                                canvas(id="myDiastolicChart" style="height: 100%")

                .col-lg-12.dashboard__main__content__other__bloodReport
                    .dashboard__main__content__other__bloodReport__title.primary-title Blood Report
                    .dashboard__main__content__other__bloodReport__table
                        +bloodReport("Down Cluster", "90.9%")
                        +bloodReport("Down Fiber", "1.8%")
                        +bloodReport("Waterfowl Feathers", "1.7%")
                        +bloodReport("Quill", "0.0%")

